*~
.DS_Store
project/metals.sbt
/bin/
project/target/
target/
.vscode/
.metals/
.bloop/
.bsp
.idea/modules
.idea
.jvmopts
project/project/metals.sbt
doc/*.aux
doc/*.toc
doc/*.fls
doc/*.log
doc/*.fdb_latexmk
